<html>
  <head>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js'></script>
    <script src='/assets/tus.js'></script>
    <script src='/assets/message-bus.js'></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css' media='screen' rel='stylesheet'>
    <%= assets(:css) %>
  </head>

  <body>
    <div class='container'>
      <%= yield %>
    </div>

    <%= assets(:js) %>
  </body>
</html>
