<html>
  <head>
    <link href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css' media='screen' rel='stylesheet'>
    <%= assets(:css) %>
  </head>
  <body>
    <div class='container'>
      <%= yield %>
    </div>
    <script id='movie-template' type='text/x-handlebars-template'>
      <li class='item-wrapper'>
        <div class='item'>
          <div id='movie-{{id}}' class='panel panel-default'>
            <div class='panel-heading'>
              <h3 class='panel-title'>{{name}}</h3>
            </div>
            <div class='panel-body'>{{> videoTemplate }}</div>
          </div>
        </div>
      </li>
    </script>
    <script id='video-template' type='text/x-handlebars-template'>
      <video type='{{type}}' src='{{src}}' poster='{{poster}}' width='{{width}}' height='{{height}}' controls />
    </script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js'></script>
    <script src='/assets/tus.js'></script>
    <script src='/assets/message-bus.js'></script>
    <%= assets(:js) %>
  </body>
</html>
