.container {
  width: 800px;
}

.templates {
  visibility: hidden;
}

.processor {
  background: transparent url('/assets/spinner.min.svg') center no-repeat;
  display: block;
  width: 400px;
  height: 400px;
}

.items-container {
  list-style: none;
  padding-left: initial;
  margin-top: 10px;
}

.item-wrapper {
  float: left;
}

.item-wrapper:last-child { 
  clear: both;
}
