<h1>Movies</h1>
<a href='/movies/new' class='btn btn-success'>+ New Movie</a>

<ul id='movies' class='items-container'>
  <% @movies.each do |movie| %>
    <li class='item-wrapper'>
      <div class='item'>
        <%= partial 'movies/movie', locals: { movie: movie } %>
      </div>
    </li>
  <% end %>
</ul>
